
body{
  background-image:url("trees2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  position: relative;
}

.cover{
  height: 200px;
  width: 200px;
  display: inline-flex;
  margin-left: 55px;
  margin-top: 20px;
  position: relative;
}

.description{
  text-align: center;
}

.pause{
  height: 200px;
  width: 200px;
  display: inline-flex;
}

.video{
  display: none;
}
.line_vid{
  display:flex;
  position: relative;
}

h1{
  text-align: center;
}

section{
  display: inline-flex;
  position: relative;
}

table{
  background: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,215,0,0.8));
  position: relative;
}
